<div class="container text-center">
  <h1>Movies</h1>

  <%= button_to 'Discover Page', user_discover_index_path(@user), method: :get %>

  <div id="movie_list">
    <ul>
      <% @facade.movies.each do |movie| %>
        <div id="movie_<%= movie.id %>_info">
          <li><%= link_to "#{movie.title}", user_movie_path(@user, movie.id) %></li>
          <li>Vote Average: <%= movie.vote_average.round(2) %></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>